<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.plus.web.mapper.AccountMapper">
    <insert id="add"
            useGeneratedKeys="true"
            keyProperty="web_id"
            parameterType="cn.zm.plus.web.entity.Account">
        insert into account(
                id,
                name,
                money
        )values(
                #{id},
                #{name},
                #{money}
        )
    </insert>

    <select id="get"
            parameterType="cn.zm.plus.web.entity.Account"
            resultType="cn.zm.plus.web.entity.Account">
        select
            v.id,
            v.name,
            v.money
        from
        account v
        where
        1 = 1
            <if test="id != null and id != ''"> and v.id
                = #{id}</if>
            <if test="name != null and name != ''"> and v.name
                = #{name}</if>
            <if test="money != null and money != ''"> and v.money
                = #{money}</if>
    </select>

    <select id="getById"
            parameterType="cn.zm.plus.web.entity.Account"
            resultType="cn.zm.plus.web.entity.Account">
        select
            v.id,
            v.name,
            v.money
        from
        account v
        where
        1 = 1
        and v.web_id = #{web_id}
        limit 1
    </select>

    <update id="update"
            parameterType="cn.zm.plus.web.entity.Account">
        update account v
        set v.web_id = #{web_id}
                <if test="id != null and id != ''"> , v.id
                    = #{id}</if>
                <if test="name != null and name != ''"> , v.name
                    = #{name}</if>
                <if test="money != null and money != ''"> , v.money
                    = #{money}</if>
        where v.web_id = #{web_id}
    </update>

    <delete id="del"
            parameterType="java.lang.String">
        delete from account
        where web_id = #{web_id}
    </delete>
</mapper>
