<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zm.plus.web.mapper.BdMapper">
    <insert id="add"
            useGeneratedKeys="true"
            keyProperty="web_id"
            parameterType="cn.zm.plus.web.entity.Bd">
        insert into bd(
                id,
                sjc,
                rwly,
                bsfl1,
                bsfl2,
                bcydwmc,
                cydd2,
                sszzq,
                dqsz,
                xsq,
                qylx,
                dwdz,
                ypmc,
                cybh,
                spdl,
                spyl,
                spcyl,
                spxl,
                bzqymc,
                bzqysf,
                sfjk,
                ycg,
                cysj,
                jymd,
                jyxm,
                jgpd,
                cydd1,
                bzfl
        )values(
                #{id},
                #{sjc},
                #{rwly},
                #{bsfl1},
                #{bsfl2},
                #{bcydwmc},
                #{cydd2},
                #{sszzq},
                #{dqsz},
                #{xsq},
                #{qylx},
                #{dwdz},
                #{ypmc},
                #{cybh},
                #{spdl},
                #{spyl},
                #{spcyl},
                #{spxl},
                #{bzqymc},
                #{bzqysf},
                #{sfjk},
                #{ycg},
                #{cysj},
                #{jymd},
                #{jyxm},
                #{jgpd},
                #{cydd1},
                #{bzfl}
        )
    </insert>

    <select id="get"
            parameterType="cn.zm.plus.web.entity.Bd"
            resultType="cn.zm.plus.web.entity.Bd">
        select
            v.id,
            v.sjc,
            v.rwly,
            v.bsfl1,
            v.bsfl2,
            v.bcydwmc,
            v.cydd2,
            v.sszzq,
            v.dqsz,
            v.xsq,
            v.qylx,
            v.dwdz,
            v.ypmc,
            v.cybh,
            v.spdl,
            v.spyl,
            v.spcyl,
            v.spxl,
            v.bzqymc,
            v.bzqysf,
            v.sfjk,
            v.ycg,
            v.cysj,
            v.jymd,
            v.jyxm,
            v.jgpd,
            v.cydd1,
            v.bzfl
        from
        bd v
        where
        1 = 1
            <if test="id != null and id != ''"> and v.id
                = #{id}</if>
            <if test="sjc != null and sjc != ''"> and v.sjc
                = #{sjc}</if>
            <if test="rwly != null and rwly != ''"> and v.rwly
                = #{rwly}</if>
            <if test="bsfl1 != null and bsfl1 != ''"> and v.bsfl1
                = #{bsfl1}</if>
            <if test="bsfl2 != null and bsfl2 != ''"> and v.bsfl2
                = #{bsfl2}</if>
            <if test="bcydwmc != null and bcydwmc != ''"> and v.bcydwmc
                = #{bcydwmc}</if>
            <if test="cydd2 != null and cydd2 != ''"> and v.cydd2
                = #{cydd2}</if>
            <if test="sszzq != null and sszzq != ''"> and v.sszzq
                = #{sszzq}</if>
            <if test="dqsz != null and dqsz != ''"> and v.dqsz
                = #{dqsz}</if>
            <if test="xsq != null and xsq != ''"> and v.xsq
                = #{xsq}</if>
            <if test="qylx != null and qylx != ''"> and v.qylx
                = #{qylx}</if>
            <if test="dwdz != null and dwdz != ''"> and v.dwdz
                = #{dwdz}</if>
            <if test="ypmc != null and ypmc != ''"> and v.ypmc
                = #{ypmc}</if>
            <if test="cybh != null and cybh != ''"> and v.cybh
                = #{cybh}</if>
            <if test="spdl != null and spdl != ''"> and v.spdl
                = #{spdl}</if>
            <if test="spyl != null and spyl != ''"> and v.spyl
                = #{spyl}</if>
            <if test="spcyl != null and spcyl != ''"> and v.spcyl
                = #{spcyl}</if>
            <if test="spxl != null and spxl != ''"> and v.spxl
                = #{spxl}</if>
            <if test="bzqymc != null and bzqymc != ''"> and v.bzqymc
                = #{bzqymc}</if>
            <if test="bzqysf != null and bzqysf != ''"> and v.bzqysf
                = #{bzqysf}</if>
            <if test="sfjk != null and sfjk != ''"> and v.sfjk
                = #{sfjk}</if>
            <if test="ycg != null and ycg != ''"> and v.ycg
                = #{ycg}</if>
            <if test="cysj != null and cysj != ''"> and v.cysj
                = #{cysj}</if>
            <if test="jymd != null and jymd != ''"> and v.jymd
                = #{jymd}</if>
            <if test="jyxm != null and jyxm != ''"> and v.jyxm
                = #{jyxm}</if>
            <if test="jgpd != null and jgpd != ''"> and v.jgpd
                = #{jgpd}</if>
            <if test="cydd1 != null and cydd1 != ''"> and v.cydd1
                = #{cydd1}</if>
            <if test="bzfl != null and bzfl != ''"> and v.bzfl
                = #{bzfl}</if>
    </select>

    <select id="getById"
            parameterType="cn.zm.plus.web.entity.Bd"
            resultType="cn.zm.plus.web.entity.Bd">
        select
            v.id,
            v.sjc,
            v.rwly,
            v.bsfl1,
            v.bsfl2,
            v.bcydwmc,
            v.cydd2,
            v.sszzq,
            v.dqsz,
            v.xsq,
            v.qylx,
            v.dwdz,
            v.ypmc,
            v.cybh,
            v.spdl,
            v.spyl,
            v.spcyl,
            v.spxl,
            v.bzqymc,
            v.bzqysf,
            v.sfjk,
            v.ycg,
            v.cysj,
            v.jymd,
            v.jyxm,
            v.jgpd,
            v.cydd1,
            v.bzfl
        from
        bd v
        where
        1 = 1
        and v.web_id = #{web_id}
        limit 1
    </select>

    <update id="update"
            parameterType="cn.zm.plus.web.entity.Bd">
        update bd v
        set v.web_id = #{web_id}
                <if test="id != null and id != ''"> , v.id
                    = #{id}</if>
                <if test="sjc != null and sjc != ''"> , v.sjc
                    = #{sjc}</if>
                <if test="rwly != null and rwly != ''"> , v.rwly
                    = #{rwly}</if>
                <if test="bsfl1 != null and bsfl1 != ''"> , v.bsfl1
                    = #{bsfl1}</if>
                <if test="bsfl2 != null and bsfl2 != ''"> , v.bsfl2
                    = #{bsfl2}</if>
                <if test="bcydwmc != null and bcydwmc != ''"> , v.bcydwmc
                    = #{bcydwmc}</if>
                <if test="cydd2 != null and cydd2 != ''"> , v.cydd2
                    = #{cydd2}</if>
                <if test="sszzq != null and sszzq != ''"> , v.sszzq
                    = #{sszzq}</if>
                <if test="dqsz != null and dqsz != ''"> , v.dqsz
                    = #{dqsz}</if>
                <if test="xsq != null and xsq != ''"> , v.xsq
                    = #{xsq}</if>
                <if test="qylx != null and qylx != ''"> , v.qylx
                    = #{qylx}</if>
                <if test="dwdz != null and dwdz != ''"> , v.dwdz
                    = #{dwdz}</if>
                <if test="ypmc != null and ypmc != ''"> , v.ypmc
                    = #{ypmc}</if>
                <if test="cybh != null and cybh != ''"> , v.cybh
                    = #{cybh}</if>
                <if test="spdl != null and spdl != ''"> , v.spdl
                    = #{spdl}</if>
                <if test="spyl != null and spyl != ''"> , v.spyl
                    = #{spyl}</if>
                <if test="spcyl != null and spcyl != ''"> , v.spcyl
                    = #{spcyl}</if>
                <if test="spxl != null and spxl != ''"> , v.spxl
                    = #{spxl}</if>
                <if test="bzqymc != null and bzqymc != ''"> , v.bzqymc
                    = #{bzqymc}</if>
                <if test="bzqysf != null and bzqysf != ''"> , v.bzqysf
                    = #{bzqysf}</if>
                <if test="sfjk != null and sfjk != ''"> , v.sfjk
                    = #{sfjk}</if>
                <if test="ycg != null and ycg != ''"> , v.ycg
                    = #{ycg}</if>
                <if test="cysj != null and cysj != ''"> , v.cysj
                    = #{cysj}</if>
                <if test="jymd != null and jymd != ''"> , v.jymd
                    = #{jymd}</if>
                <if test="jyxm != null and jyxm != ''"> , v.jyxm
                    = #{jyxm}</if>
                <if test="jgpd != null and jgpd != ''"> , v.jgpd
                    = #{jgpd}</if>
                <if test="cydd1 != null and cydd1 != ''"> , v.cydd1
                    = #{cydd1}</if>
                <if test="bzfl != null and bzfl != ''"> , v.bzfl
                    = #{bzfl}</if>
        where v.web_id = #{web_id}
    </update>

    <delete id="del"
            parameterType="java.lang.String">
        delete from bd
        where web_id = #{web_id}
    </delete>
</mapper>
